.course-detail__main {
    padding: 0 1rem;
    background-color: #fff;
}
.course-detail__toolbar {
    display: flex;
    padding: .7rem 0;
    border-bottom: 1px solid #eee;
}
.course-detail__toolbar .h3 {
    font-weight: bold;
    color: #333;
    font-size: 1.6rem;
}
.course-detail__content {
    padding: 2rem 0;
}
.course-detail__content .content{
    padding: 2rem 3rem;
}
.course-detail__content .lesson{
    background-color: #F8F8F8;
    padding: 1rem 2rem 2rem;
    margin-bottom: 1rem;
}
.course-detail__content .lessons{
    padding: 1.2rem 0;
}
.chapter-title , .lesson-title, .lesson-file {
    font-size: 1.6rem;
}
.lesson-file {
    margin: 1rem 0 1.5rem;
}
.lesson-file a.active {
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}
.lesson-file a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    margin-right: 2rem;
}
.course-detail__content .title {
    font-size: 2rem;
    color: #2CAE86;
    font-weight: bold;
}
.btn-plus >span {
    padding-left: .5rem;
}
.btn-plus:any-link {
    color: #333;
    display: flex;
    text-decoration: none;
}
.course-detail__toolbar-bottom .btn {
    min-width: 17rem;
}
.course-detail__toolbar-bottom {
    display: flex;
    margin-top: 4rem;
}

.chapter-title .actions a + a{
    margin-left: 2.5rem;
}
.chapter-title .actions a {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chapter-title .actions{
    margin-left: auto;
    display: flex;
}
.chapter-title {
    display: flex;
}

// Course guess
.aside-box.course__side-guess {
    background-color: #fff;
    padding: 1.2rem 1rem;
}
.course__side-guess .links {
    margin-top: 2rem;
}
.course__side-guess a:any-link.active {
    font-weight: bold;
    color: #32AF85;
}
.course__side-guess a:any-link:hover {
    color: #32AF85;
}
.course__side-guess a:any-link + a:any-link {
    border-top: 1px solid #eee;
}
.course__side-guess a:any-link {
    color: #666;
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    padding: 1.5rem 0;
}

.course-guess__title .info {
    display: flex;
    align-items: center;
}

.course-guess__content {
    background-color: #fff;
    padding: 1rem 1.5rem 2rem;
    margin-bottom: 2rem;
}
.course-guess__content h3 {
    margin-bottom: 2rem;
}
.course-guess__content .row {
    margin-top: 2rem;
}
.course-guess__content .row >div {
    display: flex;
}
.course-guess__content .row >div .icon {
    width: 2rem;
    margin-right: 0.5rem;
}
.course-guess__content .row >div >p {
    flex: 1;
}