.course-slider-tab {
    .toolbar {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        h3 {
            margin-right: 2.5rem;
            font-size: 2rem;
        }
        .btn {
            margin-right: 1rem;
            font-size: 1.6rem;
            line-height: 2.2;
            padding: 0 1rem;
            height: auto;
            svg {
                margin-right: .5rem;
            }
        }
    }
}
.course-slider.post-slider  {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 0 1.8rem;
    background-color: transparent;
    .swiper-button-next, .swiper-button-prev {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
    }
}
.course-slider-tab-container {
    .slider-item {
        margin: 1rem 0;
    }
}