@each $name, $color in $text-colors {
    .text-#{$name} {
        color: $color !important;
    }

    .fill-#{$name} {
        fill: $color;

        path {
            fill: $color;
        }
    }
}

@each $name, $color in $bg-colors {
    .bg-#{$name} {
        background-color: $color;
    }
}