@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/static/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/static/fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/static/fonts/Open_Sans/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/static/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/static/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/static/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text", sans-serif;
    src: url("/static/fonts/SF_Pro_Text/SF-Pro-Text-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text", sans-serif;
    src: url("/static/fonts/SF_Pro_Text/SF-Pro-Text-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text", sans-serif;
    src: url("/static/fonts/SF_Pro_Text/SF-Pro-Text-Light.otf");
    font-weight: 300;
    font-style: normal;
}