html {
    font-size: 50%;
    font-family: $font-base;
  
    @include media(">=lg") {
      font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    }
}

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text;
}


// Text size
@each $name, $font-size in $text-size {
    .#{$name} {
        font-size: $font-size;
    }
}


// Text case
.text-uppercase {
    text-transform: uppercase;
}


// Align
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

// Font weight
.font-weight-light {
    font-weight: 300;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

//Wrap text
.nowrap {
    white-space: nowrap;
}