html {
    font-size: 50%;
    font-family: $font-base;
  
    @include media(">=lg") {
      font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    }
}

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text;
}

h1, .h1 {
    font-size: map-get($text-size, 'heading-1');
}
h2, .h2 {
    font-size: map-get($text-size, 'heading-2');
}
h3, .h3 {
    font-size: map-get($text-size, 'heading-3');
}
h4, .h4 {
    font-size: map-get($text-size, 'heading-4');
}
h5, .h5 {
    font-size: map-get($text-size, 'heading-5');
}
h6, .h6 {
    font-size: map-get($text-size, 'heading-6');
}


// Text size
@each $name, $font-size in $text-size {
    .#{$name} {
        font-size: $font-size !important;
    }
}


// Text case
.text-uppercase {
    text-transform: uppercase;
}


// Align
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

// Font weight
.font-weight-light {
    font-weight: 300;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

//Wrap text
.nowrap {
    white-space: nowrap;
}