.e-exercise-list {
    list-style-type: none;
}

.e-exercise-note {
    margin-left: 0;
    font-size: 12px;
    line-height: 15px;
    color: $color-secondary;
    position: absolute;
    top: 33rem;
}