.post-editor {
    margin-bottom: 1.8rem;
    position: relative;
    z-index: 2;

    &.active {
        .post-editor__overlay {
            visibility: visible;
            opacity: 1;
        }

        .post-editor__privacy,
        .post-editor__submit {
            display: flex;
        }
    }
}

.post-editor__privacy {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.post-editor__submit {
    display: none;
}

.post-editor__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .8);
    transition: visibility .3s, opacity .3s;
    visibility: hidden;
    opacity: 0;
}

.post-editor__components {
    position: relative;
    background-color: #fff;
    padding: 2rem;
}

.post-editor__top {
    display: flex;
    margin-bottom: 1.4rem;
}

.post-editor__avatar {
    flex: 0 0 6rem;
    width: 6rem;
    height: 6rem;
    margin-right: 1.6rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-image-placeholder;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.post-editor__editor {
    flex: 1 0 calc(100% - 8.2rem);
    width: calc(100% - 8.2rem);

    .ProseMirror {
        padding: 2.1rem 0;
    }

    .ProseMirror-focused {
        outline: none;
    }
}

.post-editor__toolbar {
    margin-top: 1.2rem;
}

.post-editor__toolbar-item {
    display: inline-block;

    svg {
        vertical-align: middle;
        display: inline-block;
    }

    span {
        vertical-align: middle;
    }

    &:not(:last-child) {
        margin-right: 3.5rem;
    }

    &.image {
        fill: $color-blue;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &.tag {
        fill: $color-yellow;

        svg {
            width: 2.2rem;
            height: 1.7rem;
        }
    }

    &.check-in {
        fill: $color-pink;

        svg {
            width: 1.6rem;
            height: 2rem;
        }
    }

    &.emoji {
        fill: $color-purple;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.post-editor__select {
    .app-select__selected {
        border: none;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            outline: none;
        }
    }

    .app-select__option {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .app-select__arrow {
        display: none;
    }
}

.post-editor__tagger-summary {
    color: $color-text-gray;
    
    a {
        text-decoration: none;
        color: $color-text;
    }
}

.post-editor__status-list {
    list-style-type: none;
    width: 34.8rem;
    max-height: 275px;
    overflow-y: auto;

    li {
        display: flex;
        align-items: center;
        padding: .9rem 2rem;
        cursor: pointer;

        &:hover, &.active {
            background-color: $color-border;
        }
    }

    i {
        font-style: normal;
        line-height: 1;
        font-size: 3.2rem;
    }
}

.post-editor__select-private {
    .app-select__selected {
        line-height: (17/14);
        padding: 3px 5px;
        background-color: $color-border;
        border-color: transparent;
        color: $color-text-gray;
        height: 2.4rem;
    }

    .app-select__arrow svg {
        fill: $color-text-gray;
    }

    &__prepend {
        fill: $color-text-gray;
    }
}

.post-editor__label-dropdown {
    .app-dropdown__content {
        top: calc(100% + 1.5rem);
    }
}