.post-editor-upload {
    display: flex;
}

.post-editor-upload__list {
    display: flex;
}

.post-editor-upload__list-item {
    width: 10rem;
    height: 10rem;
    position: relative;
    margin-right: 5px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.post-editor-upload__list-item__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 3px;

    svg {
        fill: $color-text-gray-2;
        font-size: 12px;
    }
}

.post-editor-upload__control {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 1px dashed $color-text-gray-2;
    cursor: pointer;
}

.post-editor-upload__input {
    position: absolute;
    z-index: -1;
}