.app-section {
    margin-top: 30px;
    margin-bottom: 40px;

    $this: &;

    &__headline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20px;
    }

    &__title {
        color: $color-brand;
        font-size: 24px;
        text-transform: uppercase;
    }

    &__view-all {
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;

        &:any-link {
            color: #D1D3D4;
        }
    }

    &--has-select {
        #{$this}__headline {
            margin-bottom: 10px;
        }

        .app-select {
            margin-bottom: 30px;
        }
    }

    &--on-top {
        
        @include media(">=1140px") {
            padding-left: 70px;
        }
    }

    .row-official {
        justify-content: space-around;
    }
}