.app-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    select {
        font-weight: 400;
        appearance: none;
        border: none;
        height: 26px;
        background-color: $color-brand;
        color: #fff;
        font-size: 12px;
        border-radius: 30px;
        padding: 0 35px 0 15px;

        &:focus {
            outline: none;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 23px;
        width: 1px;
        height: 100%;
        background-color: rgba(#fff, .5);
    }

    &:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        right: 8px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
    }
}