// Button style base
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    border-radius: 40px;
    padding: .5rem 2rem;
    border-color: transparent;
    background-color: $color-brand;
    color: #fff !important;
    font-size: $font-size-base;
    max-width: 100%;

    &:hover, &:focus {
        color: #fff;
    }

    &.disabled, &[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
}


// Size of button
.btn--xs {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn--sm {
    height: 32px;
}

.btn--primary {
    height: 40px;
    font-weight: 500;
}

.btn--lg {
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 4rem;
    padding-right: 4rem;
}

.btn--full-width {
    display: flex;
    width: 100%;
}


// Type of button
.btn--flat {
    background-color: transparent;
    border: none;
}


// Color of button
.btn--white {
    background-color: #fff;
    color: $color-brand !important;

    &:hover, &:focus {
        color: $color-brand !important;
    }
}

.btn--gray {
    background-color: #E6E7E8;
    color: $color-text-dark !important;

    &:hover, &:focus {
        color: $color-brand !important;
    }
}

// Out line buttons
.btn--outline {
    background-color: transparent !important;
    border: 1px solid $color-brand;
}

// Border-radius
.btn--less-border-radius {
    border-radius: 5px;
}

// Inside button
.btn-append {
    margin-left: 1rem;
}

.btn-prepend {
    margin-right: 1rem;
}