.app-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app-checkbox__checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
    background-color: $color-brand;
    border-radius: 2px;
    margin-right: 5px;

    &:after {
        content: "";
        width: 7px;
        height: 11px;
        margin-top: -2px;
        margin-left: -1px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: none;
    }
}

.app-checkbox__input {
    &:checked {
        + .app-checkbox__checkmark:after {
            display: block;
        }
    }
}
