%content-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.app-video-player {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: #000;
    user-select: none;

    &:hover, &.active {
        .avp-overlay, 
        .error-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
}

.avp-video-wrapper {
    @extend %content-absolute;

    video {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
    }

    #widget2 {
        width: 100% !important;
        height: 100% !important;       
    }
}

.avp-poster {
    @extend %content-absolute;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.avp-overlay {
    @extend %content-absolute;
    display: flex;
    flex-direction: column;
    transition: visibility .3s, opacity .3s;
    visibility: hidden;
    opacity: 0;
}

.hide-overlay {
    display: none;
}

.error-overlay {
    @extend %content-absolute;
    display: flex;
    flex-direction: column;
    transition: visibility .3s, opacity .3s;
    // visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.avp-overlay-top {
    @extend %content-absolute;
    bottom: 52px;
    cursor: pointer;
}

.avp-controls-wrapper {
    @extend %content-absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: calc(100% - 52px);
    height: 52px;
    padding-bottom: 10px;
    background-color: rgba(#231F20, .85);
}

.error-controls-wrapper {
    @extend %content-absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    height: calc(100%);
    padding-bottom: 10px;
    background-color: rgba(#231F20, .85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avp-btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -(55px/2);
    margin-left: -(55px/2);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #EFF9FE;
    border-radius: 50%;

    svg {
        fill: #EFF9FE;
    }

    &:hover {
        border-color: #fff;

        svg {
            fill: #EFF9FE;
        }
    }
}

.seek-bar {
    @extend %content-absolute;
    top: calc(100% - 52px);
    bottom: unset;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    $this: &;

    &__bar-wrapper {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 8px 0 5px 0;
        margin-top: -8px;
        height: 18px;
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &:hover {
            #{$this}__bar {
                height: 5px;
            }
        }
    }

    &__bar {
        position: relative;
        width: 100%;
        height: 3px;
        background: #3C5E54;
    }

    &__seek, &__buffered {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        border-radius: 5px 0 0 5px;
        pointer-events: none;
        transition: all linear 0.1s;
    }

    &__seek {
        background: $color-brand;
        z-index: 1;
    }

    &__buffered {
        background: #D1D3D4;
        z-index: 0;
    }

    &__point {
        width: 12px;
        height: 12px;
        border-radius: 8px;
        background: #EFF9FE;
        position: absolute;
        top: -3.25px;
        z-index: 3;
        transition: all linear 0.1s;
        pointer-events: none;
    }

    &__current-time, &__duration {
        font-weight: 300;
        color: $color-brand;
        font-size: 11px;
        padding: 0 5px;
        position: absolute;
        top: calc(100% - 5px);
    }
    
    &__current-time {
        left: 0;
    }

    &__duration {
        right: 0;
    }
}

.avp-controls {
    display: flex;
    align-items: flex-end;
    padding: 0 14px;

    button {
        svg {
            fill: #E6E7E8
        }

        &:hover {
            svg {
                fill: #fff;
            }
        }
    }

    .avp-volume-control,
    .avp-controls-center,
    .avp-controls-right {

        @include media(">=md") {
            flex: 0 0 (100%/3);
            width: (100%/3);
            max-width: (100%/3)
        }
    }

    @include media("<md") {
        .avp-controls-center {
            order: 0;
            margin-right: auto;
        }

        .avp-volume-control {
            order: 1;
        }

        .avp-controls-right {
            order: 2;
        }
    }

}

.avp-volume-control {
    display: flex;
    align-items: center;
    margin-right: 12px;

    > div {
        cursor: pointer;
        

        &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
        }

        svg {
            display: block;
            fill: #E6E7E8;
        }
    }

    @include media(">=md") {
        margin: 0;

        > div {
            margin-right: 10px;

            &:first-child {
                display: block;
                width: auto;
                height: auto;
            }
        }
    }
}

.avp-volume-slider-wrapper {
    width: 62px;
    display: none;

    /deep/ {
        .vue-slider-rail {
            background-color: rgba(#E6E7E8, .45);
        }

        .vue-slider-process {
            background-color: $color-brand;
        }
    }

    @include media(">=md") {
        display: block;
    }
}

.avp-controls-center {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 0 5px;
    }
}

.avp-controls-center__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: $color-brand;
    border-radius: 50%;
}

.avp-controls-right {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.avp-btn-mini-video {
    position: absolute;
    top: 11px;
    right: 15px;
    z-index: 2;

    svg {
        fill: rgba(#fff, .7);
    }

    &:hover {
        svg {
            fill: #fff;
        }
    }
}