%image-square {
    padding-top: 100%;
}

%image-16-9 {
    padding-top: 56.25%;
}

%image-9-16 {
    padding-top: (15/10) * 100%;
}

.social-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-brand;
    color: #fff;
    padding: 8px 10px;
}

.social-card__avt {
    border-radius: 50%;
    overflow: hidden;
    width: 43px;
    height: 43px;
    margin-right: 10px;
    border: 1px solid transparent;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.social-card__info {
    display: flex;
    align-items: center;
}

.social-card__name-wrapper {
    display: flex;
    flex-direction: column;
}

.social-card__name {
    color: inherit !important;
    text-decoration: none;
}

.social-card__last-active {
    font-size: $font-size-caption;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
}

.social-card__button {
    background-color: #fff;
    color: $color-brand;
    text-decoration: none;
    font-weight: 300;
    padding: 2px 15px;
    border-radius: 15px;
}

.social-card__post {
    padding: 20px 15px 30px 15px;
}

.social-card__post-caption {
    font-weight: 300;
    color: #231F20;
    line-height: 1.3;
    margin-bottom: 20px;
    
    // &-sub {
    //     white-space: normal !important;
    //     width: auto !important;
    //     overflow: visible !important;
    // }

    // span {
    //     display: inline-block;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;
    //     width: 100%;
    //     overflow: hidden;
    // }

    a {
        color: $color-brand;
        cursor: pointer;
        text-decoration: underline;
    }
}

.social-card__post-image-grid {
    margin-bottom: 10px;
}

.social-card__post-image {
    cursor: pointer;

    img {
        display: block;
        width: 100%;
    }
}


.social-card__post-image-add {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.social-card__post-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > div, button {
        display: flex;
        align-items: center;
        font-weight: 300;
        color: #58595B;
        cursor: pointer;

        svg {
            fill: #58595B;
            margin-right: 4px;
        }
    }

    .is-active {
        svg {
            fill: $color-brand;
            margin-right: 4px;
        }

        span {
            color: $color-brand;
        }
    }
}

.social-card__post-comment {
    margin-left: 10px;
}

.social-card {
    background-color: #F1F2F2;

    &--reverse-color {
        .social-card__header {
            background-color: #F1F2F2;
            border-bottom: 1px solid #fff;
        }

        .social-card__avt {
            border: 2px solid $color-brand;
        }

        .social-card__name {
            color: $color-brand !important;
        }

        .social-card__last-active {
            color: #939598;
            font-style: normal;
        }

        .social-card__button {
            background-color: $color-brand;
            color: #fff;
        }

        .social-card__post-status {
            padding: 5px 18px 15px 18px;
        }

        .social-card__post {
            padding: 0;
        }

        .social-card__post-caption {
            padding: 15px 18px 0 18px;
        }
    }
}

// GRID
.image-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

    .social-card__post-image {
        padding: 5px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        > div {
            width: 100%;
            height: 0;
            position: relative;
        }
    
        &--last {
            position: relative;
    
            &:after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background-color: rgba(#231F20, .62);
            }
        }
    }

}

.grid-4-square {
    .social-card__post-image {
        flex: 0 0 50%;
        width: 50%;

        > div {
            @extend %image-square;
        }
    }
}

.grid-4-top {
    .social-card__post-image {
        flex: 0 0 33.33%;
        width: 33.33%;

        > div {
            @extend %image-square;
        }

        &:first-child {
            flex: 0 0 100%;
            width: 100%;

            > div {
                @extend %image-16-9;
            }
        }
    }
}

.grid-4-left {
    flex-direction: column;
    max-height: 600 + 7px;
    @include pfs('max-height', (
        320px: 285px + 7px,
        575px: 540px + 7px,
        576px: 505px + 7px,
        767px: 505px + 7px,
        768px: 439px + 7px,
        991px: 439px + 7px,
        992px: 600px + 7px
    ));
    @include pfs('height', (
        320px: 285px + 7px,
        575px: 540px + 7px,
        576px: 505px + 7px,
        767px: 505px + 7px,
        768px: 439px + 7px,
        991px: 439px + 7px,
        992px: 600px + 7px
    ));

    .social-card__post-image {
        flex: (100%/3);
        height: (100%/3);
        width: (100%/3);

        > div {
            @extend %image-square;
        }

        &:first-child {
            flex: 0 0 100%;
            height: 100%;
            width: ((100%/3)*2);

            > div {
                @extend %image-9-16;
            }
        }
    }
}

.grid-5 {
    .social-card__post-image {
        flex: 0 0 33.33%;
        width: 33.33%;

        > div {
            @extend %image-square;
        }

        &:first-child, &:nth-child(2) {
            flex: 0 0 50%;
            width: 50%;

            > div {
                @extend %image-square;
            }
        }
    }
}

.grid-2 {
    .social-card__post-image {
        flex: 0 0 50%;
        width: 50%;

        > div {
            @extend %image-square;
        }
    }
}

// COMMENT
.social-card__comment {
    padding: 0 18px;
    font-weight: 300;
}

.social-card__comment-item {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;

    &--input {
        border-bottom-color: transparent;
    }
}

.social-card__comment-avt {
    margin-right: 12px;
    flex: 0 0 32px;
    width: 100%;
    max-width: 32px;

    img {
        display: block;
        width: 32px;
        height: 32px;
        object-fit: contain;
        border-radius: 50%;
    }
}

.social-card__comment-author {
    margin-right: 10px;
    font-size: 14px;
    color: $color-green;
    font-weight: 500;
}

.social-card__comment-time {
    font-size: 13px;
}

.social-card__comment-title {
    margin-bottom: 10px;
}

.social-card__comment-content {
    flex-grow: 1;
    width: calc(100% - 44px);
}

.social-card__comment-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #F1F2F2;
    padding: 4px 11px;
    transition: border .3s;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-weight: 300;
    min-height: 26px;

    &:hover, &:focus {
        border: 1px solid $color-brand;
        outline: none;
    }
}

.social-card__comment-more {
    text-decoration: none;
}

.social-card__comment-login {
    display: inline-block;
    margin-left: 44px;
    margin-bottom: 17px;
}