/* Set the theme color of the component */
$themeColor: $color-text-dark;
$bgColor: #fff;
$railBorderRadius: 5px;
$bgColor: #D1D3D4;

/* import theme style */
@import '~vue-slider-component/lib/theme/default.scss';

.vue-slider-dot-handle {
    box-shadow: none;
}