.wrap_list-students{
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 1.6rem;
    background: #F9F9F9;
    .app-search{
        width: 459px;
        margin-right: 12px;
        .app-search__submit{
            width: 3.2rem;
        }
    }
    .app-input{
        margin-bottom: 0;
    }
}
.wrap-table{
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        .app-table{
            padding: 2rem 0;
            font-size: 1.4rem;
            thead{
                th{
                    font-weight: normal;
                    color: #999999;
                    border-top: none;
                }
            }
            td{
                border-bottom: none;
            }
            .wrap-name__table{
                width: 20%;
            }
        }
    }
.right-pagination{
    margin-top: 1.8rem;
    .app-pagination{
        text-align: right;
    }
}