.wrap_list-students{
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 1.6rem;
    background: #F9F9F9;
    .app-search{
        width: 459px;
        margin-right: 12px;
        .app-search__submit{
            width: 3.2rem;
        }
    }
    .app-input{
        margin-bottom: 0;
    }
}
.wrap-table{
        .app-table{
            font-size: 1.4rem;
            thead{
                th{
                    font-weight: normal;
                    color: #999999 !important;
                    border-top: none;
                    font-size: 1.4rem;
                }
            }
            td{
                border-bottom: none;
            }
            .wrap-name__table{
                &:nth-child(1){
                    width: 20%;
                }
                &:nth-child(2){
                    width: 10%;
                }
                &:nth-child(3){
                    width: 20%;
                }
                &:nth-child(4){
                    width: 20%;
                }
                &:nth-child(5){
                    width: 30%;
                    span{
                        width:3.7rem
                    }
                }
            }
        }
    }
.right-pagination{
    margin-top: 1.8rem;
    .app-pagination{
        text-align: right;
    }
}
.wrap-name-class__table{
    color: $color-primary;
    .tooltip-arrow{
        display: none;
    }
}