.post {
    background-color: #fff;
    padding: 2rem 2rem 0 2rem;
    overflow: hidden;
}

.post__top {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.post__avatar {
    display: block;
}

.post__title {
    margin-left: 1.5rem;
}

.post__title-row {
    display: flex;
    align-items: center;
}

.post__name {
    font-weight: 700;
    font-size: map-get($text-size, 'heading-5');

    a {
        text-decoration: none;
        color: inherit;
    }
}

.post__share-for {
    margin-left: 1.1rem;
    vertical-align: middle;

    a {
        vertical-align: middle;
    }

    svg {
        font-size: 1.4rem;
        display: block;
    }

    img {
        width: 1.4rem;
        display: block;
    }
}

.post__time {
    text-decoration: none;
    color: inherit;
}

.post__post {
    margin-bottom: 2rem;
}

.post__post-readmore {
    font-weight: 700;
    font-style: italic;
}

.post__count {
    display: flex;
    justify-content: space-between;
}

.post__actions {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

.post__button {
    flex: 0 0 (100%/3);
    width: (100%/3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: $color-text-gray;
    border-radius: 2px;
    transition: color .3s, background-color .3s;

    svg {
        font-size: 2rem;
        margin-right: .9rem;
        transition: fill .3s;
    }

    &:hover, &.active {
        color: $color-primary;
        background-color: $color-border;
    }
}

.post__comment-list {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.post .post-slider {
    .swiper-slide {
        width: calc((100% - 45px)/4);
        cursor: pointer;
    }

    .slider-item {
        position: relative;
        height: 0;
        padding-top: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.post__btn-edit {
    border: 1px solid $color-disabled;
    background-color: $color-border;
    color: $color-text-sub;
    padding: 0 4px;
    margin-top: 0.3rem;
}

.post__edit-desc,
.post__edit-tag,
.post__edit-location {
    background-color: #fff;
    border: 1px solid $color-border;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    font-size: 1.2rem;

    &::placeholder {
        color: $color-disabled;
    }

    &:focus {
        border-color: $color-primary;
    }
}

.post__edit-desc {
    resize: none;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    border-bottom-color: transparent;
}

.post__edit-tag,
.post__edit-location {
    padding-top: 1px;
    padding-bottom: 1px;
}

.post__edit-tag {
    margin-bottom: 9px;
}

.post__edit-location {
    margin-bottom: 5px;
}

.post__edit-btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: .4rem .7rem;
    line-height: (14/12);
    border: 1px solid transparent;
}

.post__edit-btn-cancel {
    background-color: $color-border;
    border: 1px solid $color-disabled;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: auto;
}

.post__edit-btn-done {
    background-color: $color-green;
    color: #fff;
}

.post__edit-actions {
    display: flex;
    align-items: center;
}

.post__edit-select {
    .app-select__selected {
        line-height: (17/14);
        padding: 3px 5px;
        background-color: $color-border;
        border-color: transparent;
        color: $color-text-gray;
        height: 2.4rem;
    }

    .app-select__arrow svg {
        fill: $color-text-gray;
    }

    &__prepend {
        fill: $color-text-gray;
    }
}

.post__comment-more {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.post__menu-dropdown {
    margin-left: auto;
    align-self: flex-start;

    .app-dropdown__content {
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    }
}

.post__menu-dropdown__btn {
    svg {
        display: block;
        font-size: 1.8rem;
        fill: #111111;
    }
}

.post__menu-dropdown__list {
    list-style-type: none;

    a {
        display: inline-block;
        text-decoration: none;
        color: $color-text-gray;
        font-size: 1.6rem;
        line-height: (22/16);
        width: 17.3rem;
        padding: 1rem 2rem;
    }
    
    li {
        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }
    }
}

.post__tags {
    display: inline-block;
    
    a {
        text-decoration: none;
    }
}

.post__post-desc {
    display: inline-block;
    line-height: (20/14);
}

.post .mention {
    font-weight: 700;
}

.post__interactive {
    .app-content-box {
        &__title {
            font-size: $font-size-base;
        }

        &__desc, &__meta-footer {
            font-size: $font-size-caption;
        }

        &__meta-footer {
            margin-top: 5px;
        }
    }
}

.post__count-like {
    display: flex;
    align-items: center;
}

.post__count-comment {
    margin-right: 1.2rem;
}