.psc {

}

.psc__content {
    font-size: 1.3rem;
    border-left: .3rem solid $color-primary;
    padding-left: 1.3rem;
}

.psc__title {
    font-size: 1.4rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}