.eh-personal-box {
    display: flex;
    padding: 2rem;
    background-color: #fff;
    margin: 9px 0;
    transition: box-shadow .3s;
    box-shadow: $shadow-1;

    &:hover {
        box-shadow: $shadow-hover;
    }
}

.eh-personal-box__img {
    flex: 0 0 380px;
    width: 380px;
    margin-right: 3.4rem;

    img {
        display: block;
        width: 100%;
    }
}

.eh-personal-box__title {
    font-size: map-get($text-size, 'heading-3');
    font-weight: 600;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $color-primary;
        }
    }
}

.eh-personal-box__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.eh-personal-box__teacher {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.4rem;
}

.eh-personal-box__desc {
    margin-bottom: 3rem;
}

.eh-personal-box__bottom {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}