.elearning-manager-student__info {
    .item {
        background-color: #f8f8f8;
        padding: 2rem;
        height: 100%;
    }
}
.app-percent {
    position: relative;
    height: .8rem;
    border-radius: .8rem;
    border: 1px solid $color-primary;
    margin-top: 2.5rem;
    .relative {
        position: relative;
        .dot {
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 50%;
            background-color: $color-primary;
            right: 0;
            margin-left: -0.5rem;
            top: 0;
            margin-top: -0.5rem;
            display: block;
            position: absolute;
        }
        .app-percent__text {
            display: block;
            position: absolute;
            border-radius: 50%;
            right: 0.8rem;
            bottom: calc(100% + 1rem);
            color: #fff;
            padding: 0.2rem 1rem;
            text-align: center;
            background: #C4C4C4;
            border-radius: 5px;
            transform: translateX(50%);
        }
    }
    .app-percent__chart {
        position: absolute;
        left: -1px;
        right: auto;
        bottom: -1px;
        height: .8rem;
        border-radius: .8rem;
        background-color: $color-primary;
        z-index: 9;
        .app-percent__text {
            right: 0;
            bottom: 100%;
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.2);
            color: #fff;
            padding: 1rem;
        }
    }
}