.row-space-5 {
    margin-right: -2.5rem;
    margin-left: -2.5rem;
    > div {
        padding: 0 2.5rem;
    }
}
.elearning-manager {
}
.elearning-manager__dashboard {
    .row .item {
        background-color: #fbfbfb;
        padding: 1.5rem 2rem;
    }
    .item {
        .top {
            display: flex;
            align-items: center;
            color: #999;
            font-weight: bold;
        }
        .bottom {
            display: flex;
            align-items: baseline;
        }
        strong {
            color: #666;
            font-size: 4rem;
            line-height: 1;
            margin-top: 1.5rem;
            display: block;
        }
    }
}