.elearning-manager-content {
    background-color: #fff;
    padding: 1.5rem 2rem;

    .elearning-manager-content__main {
        padding: 2rem 0;

        .app-table table {
            th {
                .btn-sort {
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 9px);
                }
            }
            .app-checkbox {
                &__checkmark {
                    border: 1px solid #CCCCCC !important;
                }
                
                &__input:checked + .app-checkbox__checkmark {
                    border: 2px solid $color-primary;
                }
            }
        }
    }

    &__title {
        padding: 0;
        display: flex;
        .btn-right {
            margin-left: auto;
        }
        a {
            text-decoration: none;
        }

        &__nav {
            a {
                font-size: 1.3rem;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 19px;
                display: inline-block;
                cursor: pointer;
                padding: 1.2rem 1rem 1rem;
                margin: 0 1rem;
                color: $color-text-dark;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }

            a.active,
            a:hover {
                font-weight: 500;
                border-bottom: 3px solid $color-primary;
                color: $color-primary;
            }
        }

        &__breadcrumb {

            a {
                font-size: 1.4rem;
                line-height: 19px;
                display: inline-block;
                cursor: pointer;
                padding: 1rem 0;
                color: #333;
            }
        }
    }

    .dates,
    h5.elearning-manager-content__title {
        padding: 0 2rem;
    }

    .pagination {
        margin: 0 2rem 1rem;
    }
}

//score
.score--pass {
    color: $color-primary;
}

.score--fail {
    color: $color-secondary;
}

.score--empty {
    color: $color-warning;
}

//tooltip
.tooltip {
    $color: #fff;
    .tooltip-inner {
        background: #fff;
        border-radius: 1px;
        padding: 1rem 2rem;
        border: 1px solid $color-border;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 6px;
        border-color: $color;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 6px;

        .tooltip-arrow {
            border-width: 6px 6px 0 6px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 6px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 6px;

        .tooltip-arrow {
            border-width: 0 6px 6px 6px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 6px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 6px;

        .tooltip-arrow {
            border-width: 6px 6px 6px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 6px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 6px;

        .tooltip-arrow {
            border-width: 6px 0 6px 6px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: 5px;
            top: calc(50% - 6px);
            margin-left: 0;
            margin-right: 0;
        }
    }
}