.olclasses-create-side-title {
    background: #F8F8F8;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.olclasses-create-main {
    .form-item {
        margin-bottom: 2rem;
        .form-item-box {
            background-color: #F8F8F8;
            padding: 1rem;
        }
        >label {
            margin-bottom: 1rem;
            display: block;
        }
        .app-checkbox {
            display: flex;
            margin-right: 2rem;
            align-items: center;
        }
        .app-radio {
            display: inline-flex;
            align-items: center;
        }
        .btn-toggle {

        }
        .app-date-picker {
            margin-left: 0;
            margin-right: 2rem;
        }
    }
}