.manager-side {
  .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem 0;
    font-weight: 500;
    color: $color-text;
    button {
      outline: none;
      line-height: 1;
    }
    svg {
      margin-right: 0.8rem;
      width: 2rem;
      path {
        fill: currentColor;
        fill-opacity: 1;
      }
    }
    &:hover {
      color: $color-primary;
      svg path {
        fill: $color-primary;
      }
    }
    .lv-0 {
      font-weight: normal;
    }
    &.active {
      font-weight: bold;
      color: $color-primary;
      .lv-0 {
        font-weight: bold;
        color: $color-primary;
      }
      svg path {
        fill: $color-primary;
      }
    }
  }
  ul {
    list-style-position: inside;
    padding-left: 2rem;
    font-weight: normal;
    li {
      padding-top: 1rem;
      > a {
        margin-left: -0.5rem;
      }
    }
  }
}
