.school-filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1.4rem;

    .school-filter__title h3 {
        color: #333;
        font-size: 2rem;
    }

    .school-filter__form {
        $color-placeholder: #333333;

        &__item {
            display: inline-block;
            margin: 0 5px;

            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            .vs__selected-options {
              min-width: 133px;
            }
        }
        &__item:first-child {
            min-width: unset;
        }
        .school-filter__btn-submit {
            border-radius: 10rem;
            padding: .1rem 1.6rem; // 1/10rem & (7.7/2 + 20)/10rem
            height: 3.2rem;
        }

        .school-filter__btn-submit span {
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 24px;
            margin-left: 6.3px;
        }
    }
}
