.clc-btn-add-docs {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    svg {
        font-size: 1.6rem;
        fill: $color-primary;
        margin-right: 0.5rem;
    }
}

.clc-type-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clc-type-tab-item {
    width: 9rem;
    text-align: center;
    margin: 0 2.5rem;
    text-decoration: none;

    $this: &;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.4rem;
        border-bottom: 0;
        transition: border .3s;
        border: 2px solid $color-disabled;

        svg {
            font-size: 3.6rem;
            fill: $color-disabled;
        }
    }

    &__text {
        display: block;
        color: #fff;
        padding: 4px 2px;
        font-weight: 600;
        transition: background-color .3s;
        background-color: $color-disabled;
    }

    &.active {
        #{$this}__icon {
            border-color: $color-primary;

            svg {
                fill: $color-primary;
            }
        }

        #{$this}__text {
            background-color: $color-primary;
        }
    }
}

.clc-upload-video {
    .app-upload__button {
        display: block;
    }
}

.clc-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.clc-table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.clc-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    th {
        font-weight: 400;
        color: $color-text-sub;
        background-color: $color-border;
        padding: 1rem;
    }

    td {
        color: $color-text;
        padding: 1.2rem 1rem;
        border-bottom: 1px solid $color-border;
    }

    tr {
        td:last-child {
            text-align: right;
        }

        &:last-child td {
            border-bottom-color: transparent;
        }
    }
}

.clc-table-action {
    text-decoration: none;
    vertical-align: middle;
}

.clc-table-action-delete {
    svg {
        font-size: 2rem;
        fill: $color-red;
    }
}

.clc-video {
    display: flex;
}

.clc-video__image {
    flex: 0 0 160px;
    width: 160px;
    margin-right: 15px;

    img {
        display: block;
    }
}

.clc-video__actions {
    a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        svg {
            font-size: 2rem;
            margin-right: 0.6rem;
        }
    }
}

.clc-video__btn-edit {
    svg {
        fill: $color-primary;
    }
}

.clc-video__btn-delete {
    svg {
        fill: $color-red;
    }
}

.clc-choosen-doc-item {
    padding: 1rem 1.5rem;
    background-color: #FBFBFB;
}