.ce-input-with-unit {
    .app-input__unit {
        font-weight: 600;
        color: $color-disabled;
        background-color: $color-border;
        height: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.ce-item {
    padding: 1.3rem 1.5rem;
    border: 1px solid $color-border;
}