.list-question {
    padding: 1.5rem 0;
    border-bottom: 1px solid $color-disabled;
    cursor: pointer;

    &:hover {
        .question-actions button {
            display: block;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    &:first-child {
        padding-top: 2rem;
    }

    .question-title {
        width: 7%;
    }

    .question-content {
        width: 58%;

        // @include set-line((
        //     'lineClamp': 3,
        //     'lineHeight':  1.2,
        //     'fixedHeight': true
        // ))
    }

    .question-type {
        width: 25%;
    }

    .question-point {
        width: 8%;
    }

    .question-actions {
        max-width: 7%;
        min-width: 60px;
        height: 20px;
        
        button {
            display: none;
        }
    }
}