.list-question {
    padding: 1.5rem 0;
    border-bottom: 1px solid $color-disabled;

    &:last-child {
        border-bottom: none;
    }

    &:first-child {
        padding-top: 2rem;
    }

    .question-title {
        width: 10%;
    }

    .question-content {
        width: 55%;

        // @include set-line((
        //     'lineClamp': 3,
        //     'lineHeight':  1.2,
        //     'fixedHeight': true
        // ))
    }

    .question-type {
        width: 25%;
    }

    .question-actions {
        width: 10%;
    }
}