.the-footer-menu {
    list-style-type: none;
    margin-bottom: 20px;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 5px;
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;

            &:hover {
                color: $color-brand;
            }
        }
    }

    @include media(">=md") {
        margin-bottom: 0;
        margin-right: 40px;
    }
}