.the-footer {
    position: relative;
    z-index: 1;
    background-color: #F3F1F0;
    margin-top: auto;

    &--when-show-player {
        padding-bottom: 70px;
    }
}

// Footer Top
.footer-top {
    padding: 20px 0;
    background-color: #f6f6f6;
}

.footer-top__logo, .footer-top__title {
    margin: 10px 0;
}

.footer-top__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-top__logo {
    flex: 0 0 100px;
    width: 100px;
    margin-right: 30px;
}

.footer-top__heading {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-top__list {
    list-style-position: inside;
    color: $color-text-gray;
    font-size: 13px;

    li {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}


// Footer Bottom
.footer-bottom {
    background-color: #F3F1F0;
    // color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom__content {
    display: flex;
    flex-wrap: wrap;

    a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        // color: #fff !important;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;

        svg {
            fill: $color-brand;
            margin-right: 8px;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:any-link:hover {
            text-decoration: underline;
        }
    }
}