.elearning-lesson__main-nav {
    margin: 1.5rem 0 3rem;
    a {
        display: inline-block;
        font-size: 1.6rem;
        color: #666;
        padding: .6rem 0;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        + a {
            margin-left: 5rem;
        }
        &:hover {
            color: $color-primary;
        }
        &.active {
            font-weight: bold;
            color: $color-primary;
            &::after {
                content: "";
                display: block;
                width: 3rem;
                height: .2rem;
                background-color: $color-primary;
                left: 50%;
                bottom: 0;
                margin-left: -1.5rem;
                position: absolute;
            }
        }
    }
}