.comment-item {
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: flex-start;
}

a.comment-item__name {
    font-weight: 700;
    margin-bottom: 4px;
    color: inherit;
    text-decoration: none;
}

.comment-item__right {
    margin-left: 1.1rem;
    line-height: (17/14);
    flex-grow: 1;
    max-width: calc(100% - 5.1rem);
}

.comment-item__right__top {
    display: inline-block;
}

.comment-item__content {
    color: $color-text-gray;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
    }
}

.comment-item__actions {
    margin-top: 1rem;

    a {
        text-decoration: none;
        color: $color-text-sub;

        &:any-link {
            color: $color-text-sub;
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.comment-item__time {
    font-style: italic;
}

.comment-item__action {
    font-weight: 700;
}

.comment-item__menu-dropdown {
    vertical-align: middle;
    margin-left: 1rem;
}

.comment-item__menu-dropdown__btn {
    color: $color-text-sub;
    visibility: hidden;
    opacity: 0;
}

.comment-item__menu-dropdown__list {
    list-style-type: none;

    li:not(:last-child) {
        border-bottom: 1px solid $color-border;
    }

    a {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        padding: .6rem 1.2rem;
    }
}

.comment-item__image {
    

    img {
        display: block;
        max-width: 34.6rem;
        max-height: 21.9rem;
        object-fit: contain;
    }
}

// HOVER
.comment-item:hover {
    > .comment-item__right > .comment-item__right__top .comment-item__menu-dropdown__btn {
        visibility: visible;
        opacity: 1;
    }
}

// MODIFIER
.comment-item--level-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .comment-item__actions {
        margin-bottom: 0;
    }
    
    .comment-item__right {
        margin-left: .8rem;
        max-width: calc(100% - 2.8rem);
    }
}


// Edit mode
.comment-item-edit {
    margin-bottom: 2rem;

    $this: &;

    &__cancel {
        text-decoration: none;
        margin-left: 5.1rem;
    }

    &--level-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;

        #{$this}__cancel {
            margin-left: calc(2rem + 4px);
        }
    }
}