.comment-item-replied {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-top: -.8rem;

    &__text {
        font-size: 1.2rem;
        margin-left: 4px;
    }

    &__name {
        font-weight: 700;
    }

    &__status {
        color: $color-text-gray;
    }
}