.comment-editor {
    display: flex;
}

.comment-editor__right {
    flex-grow: 1;
    max-width: calc(100% - 4rem - 8px);
}

.comment-editor__editor-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;
    border: 1px solid $color-border;
    border-radius: 17.5px;
    background: #F8F8F8;

    .editor *.is-empty:nth-child(1)::before,
    .editor *.is-empty:nth-child(2)::before {
        color: $color-text-gray-2;
        font-size: $font-size-caption;
        line-height: 1.8rem;
    }
}

.comment-editor__editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-text-gray;
    max-width: 100%;

    .ProseMirror {
        padding: .75rem 1.2rem;
    }

    .ProseMirror-focused {
        outline: none;
    }
}

.comment-editor__avatar {
    margin-right: 8px;
    margin-top: -0.25rem;
}

.comment-editor__actions {
    flex-shrink: 0;
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-right: 1.2rem - 0.75rem;
}

.comment-editor__button {
    padding: .65rem .75rem;
    font-size: 2rem;
    color: $color-text-gray-2;

    .icon {
        display: block;
    }

    // &:nth-of-type(1) {
    //     right: 1.1rem + 2rem + 1.4rem;
    // }

    // &:nth-of-type(2) {
    //     right: 1.1rem;
    // }

    &.image {
        &:hover {
            color: $color-blue;
        }
    }

    &.emoji {
        &:hover {
            color: $color-purple;
        }
    }
}

// Upload
.comment-editor__upload {
    
}

.comment-editor__upload__preview {
    position: relative;
    display: inline-block;

    img {
        display: block;
        max-width: 8.6rem;
        max-height: 8.6rem;
    }
}

.comment-editor__upload__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

.comment-editor__preview-link {
    position: relative;

    $this: &;

    &__remove {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;

        .icon {
            color: $color-text;
            font-size: 2rem;
        }

        &:hover {
            .icon {
                color: $color-primary;
            }
        }
    }

    &:hover {
        #{$this}__remove {
            visibility: visible;
        }
    }
}

// MODIFIER
.comment-editor--reply {
    .comment-editor__button {
        padding: .4rem .75rem;
    }

    .comment-editor__editor {
        .ProseMirror {
            padding: .5rem 1.2rem;
        }
    }

    .comment-editor__avatar {
        margin-top: .5rem;
        margin-right: 4px;
    }

    .comment-editor__right {
        max-width: calc(100% - 2rem - 4px);
    }
}