.elearning-slider-tab {
}

.elearning-slider.post-slider  {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 1.8rem;
    background-color: transparent;

    .swiper-button-next, .swiper-button-prev {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
    }

    .swiper-button-lock {
        display: none;
    }
}
.elearning-slider-tab-container {
    .slider-item {
        margin: 1rem 0;
    }
}