.elearning-item2 {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    margin: 1rem 0;
    .toolbar {
        align-items: center;
        padding: 1rem 0;
        h3 {
            margin-right: 2.5rem;
        }
        .btn {
            margin-right: 1rem;
            svg {
                margin-right: .4rem;
            }
        }
    }
    .elearning-item2__image {
        position: relative;
        line-height: 0;
        > * {
            line-height: 1.35;
        }
        .video {
            background-color: #666;
            padding: .5rem .2rem 0 .5rem;
            position: absolute;
            left: 1rem;
            top: 1rem;
        }
    }
    .status-online {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        color: #fff;
        padding: 0 3rem;
        z-index: 9;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(50, 175, 133,.69);
    }
    .online {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: $color-red;
        color: #fff;
        padding: .2rem .8rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        &:before {
            content: '';
            display: inline-block;
            background-color: #fff;
            height: .6rem;
            width: .6rem;
            border-radius: 50%;
            margin-right: .5rem;
        }
    }
    .bottom {
        padding: 1rem;
    }
}
.elearning-item2_teacher >div {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    .name {
        color: #999;
        padding-left: .5rem;
    }
    .stars {
        + span {
            margin-left: auto;
        }
        svg {
            margin-right: .5rem;
        }
    }
    &.price {
        color: $color-red;
        justify-content: flex-end;
        font-weight: bold;
    }
}

.elearning-item2__title {
    font-size: $font-size-base;
    font-weight: 700;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        color: $color-primary;
    }
}