.elearning-review {
    &__top {
        background: #F8F8F8;
        border: 1px solid #EEEEEE;
        padding: 1rem 2.5rem;
    }

    &__nav {
        .btn {
            border: 1px solid #EEEEEE;
        }
    }
}