.elearning-slider-tab {
    .toolbar {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        h3 {
            margin-right: 2.5rem;
        }
        .btn {
            margin-right: 1rem;
            svg {
                margin-right: .4rem;
            }
        }
    }
}
.elearning-slider.post-slider  {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 1.8rem;
    background-color: transparent;
    .swiper-button-next, .swiper-button-prev {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
    }
}
.elearning-slider-tab-container {
    .slider-item {
        margin: 1rem 0;
    }
}