.elearning-lesson__info {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin: 1.5rem 0 3rem;
    .stars {
        font-size: 1.4rem;
    }
    >div {
        display: flex;
        align-items: center;
        margin-right: 3.5rem;
    }
}
.elearning-lesson__content {
    .info {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        .info-item {
            margin-right: 4rem;
        }
    }
    .content-item {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        border: 1px solid $color-border;
        margin-bottom: 1rem;
    }
}
.elearning-lesson__main {
    .box {
        margin-bottom: 2rem;
    }
}