.elearning-history__side {
	text-align: center;
}
.elearning-history__avatar >a{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3rem;
	background: rgba(51, 51, 51, 0.7);
	padding: .4rem;
    transition: all 300ms;
}
.elearning-history__avatar:hover >a{
	bottom: 0
}
.elearning-history__avatar {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	line-height: 0;
	display: inline-block;
}
.elearning-history__name {
	font-weight: bold;
	font-size: 1.6rem;
}
.elearning-history__side-links {
	text-align: left;
	margin-top: 1rem
}
.elearning-history__side-links a:hover svg path,
.elearning-history__side-links a.active svg path {
	fill: #32AF85;
}
.elearning-history__side-links a svg {
	width: 3rem;
}
.elearning-history__side-links a {
	display: flex;
	align-items: center;
	padding: 0.6rem 0;
	font-size: 1.6rem;
}

.elearning-history__main {
	background-color: #fff;
	padding: 1rem 2rem;
}
.table {
	width: 100%;
}
.table th{
	color: #999;
	border-bottom: 1px solid #eee;
	text-align: left;
	font-weight: normal;
	padding: 1rem 0;
}
.table tr >td {
	padding: 1rem 0;
}
.table tr:nth-child(2n) >td{
	background-color: #f8f8f8;
}