.elearning-writting-test-result {
  padding-left: 2rem;
  padding-right: 2rem;
  
  .item {
    margin-bottom: 1rem;
    
    .content-title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 4rem;
      color: #333;
      display: block;
    }
    .test-content {
      border: 1px solid #EEEEEE;
      min-height: 5rem;
      padding: 1rem
    }
  }
}

.writting-test-score {
  padding-left: 2rem;
  padding-right: 2rem;
  
  //.content-title {
  //  //font-size: 1.4rem;
  //  font-weight: bold;
  //  line-height: 1.9rem;
  //  //color: #666666;
  //  display: block;
  //  margin-bottom: 1rem;
  //}
  
  &__form {
    .item {
      margin-bottom: 1rem;
  
      .content-title {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 4rem;
        color: #333;
        display: block;
      }
    }
    
    .app-input {
      min-width: 21.3rem;
      margin-bottom: 0;
    }
    
    .btn--score {
      font-size: 1.4rem;
      height: 4rem;
      padding: 0 5.25rem;
    }
    
    .app-input--error {
      .app-checkbox__checkmark {
        border-color: $color-red;
      }
    }
  }
}