.table--objective-test {
  .table--question-test__question-index {
    position: relative;
    cursor: pointer;
  
    .question-detail {
      min-width: 40rem;
      &:hover {
        cursor: default;
      }
      .icon-close {
        cursor: pointer;
        &:hover {
          fill: rgba($color: $color-primary, $alpha: 0.05);
        }
      }
    
      /*border: 1px solid #000;*/
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      padding: 1rem;
      position: absolute;
      background: #fff;
      z-index: 1;
      bottom: 0;
      left: 0;
      transform: translateY(100%) translateX(calc(-50% + 2.8rem));
    
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        right: calc(50% - 3.5px); // (square(2* (1.56^2)))/2
        top: -7px;
      }
      .question {
        margin-bottom: 1rem;
        padding: 0 1rem;
      }
    }
  }
}

//tooltip
.tooltip {
  &.popover {
    max-width: 75%;
    min-width: 41rem;
    $color: #fff;
    
    .popover-inner {
      background: $color;
      padding: 2.8rem 2.4rem 2.4rem 2.4rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      /*box-shadow: 0 5px 30px rgba(black, .1);*/
      
      .icon-close {
        $offset: 1.3rem;
        cursor: pointer;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        right: $offset;
        top: $offset;
        
        &:hover path {
          fill: rgba($color: $color-primary, $alpha: 0.9);
        }
      }
    }
    
    $arrow-width: 6px;
    
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: $arrow-width;
      border-color: $color;
      z-index: 1;
    }
    
    &[x-placement^="top"] {
      margin-bottom: $arrow-width;
      
      .tooltip-arrow {
        border-width: $arrow-width $arrow-width 0 $arrow-width;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -$arrow-width;
        left: calc(50% - $arrow-width);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    
    &[x-placement^="bottom"] {
      margin-top: $arrow-width;
      
      .tooltip-arrow {
        border-width: 0 $arrow-width $arrow-width $arrow-width;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -$arrow-width;
        left: calc(50% - $arrow-width);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    
    &[x-placement^="right"] {
      margin-left: $arrow-width;
      
      .tooltip-arrow {
        border-width: $arrow-width $arrow-width $arrow-width 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -$arrow-width;
        top: calc(50% - $arrow-width);
        margin-left: 0;
        margin-right: 0;
      }
    }
    
    &[x-placement^="left"] {
      margin-right: $arrow-width;
      
      .tooltip-arrow {
        border-width: $arrow-width 0 $arrow-width $arrow-width;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: $arrow-width;
        top: calc(50% - $arrow-width);
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

////options
//.options {
//  line-height: 2.4rem;
//  padding: 0 1rem;
//  color: #666;
//  &__detail {
//    display: grid;
//    grid-template-columns: repeat(2, 50%);
//
//    .answer-wrapper {
//      display: inline-block;
//    }
//  }
//}

.options__detail {

}

.option__item {
  .option__key {
    line-height: 24px;
    position: absolute;
  }
}

.answer-wrapper {
  line-height: 24px;
  padding-left: 18px;
}