.account-edit-modal .app-modal-content {
	padding: 2rem;
}
.account-edit-modal .app-modal-content h3 {
	font-size: 2rem;
	margin-bottom: 2rem;
}
.account-edit-modal .app-modal-content .form-control .mx-input,
.account-edit-modal .app-modal-content .form-control {
	color: #666;
}