.wrapProfileTeacher{
    background: #FFFFFF;
    padding: 20px;
}
.wrapInfoTeacher{
    display: flex;
    flex-direction: column;
    padding:20px 0px;
    strong{
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;
    }
    span{
        font-size: 14px;
        line-height: 19px;
        color: #666666;
    }
}
.wrapSlider__ProfileTeacher{
    padding-top:20px;
}