.app-alert {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;

    &__icon {
        margin-right: 0.5rem;

        svg {
            display: block;
            font-size: 2rem;
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: .5rem;
        
        svg {
            display: block;
            font-size: 1.2rem;
            fill: $color-disabled;
        }
    }
}

// MODIFIERS
@each $name, $color in $colors {
    .app-alert--#{$name} {
        background-color: rgba($color, .1);

        .app-alert__icon svg {
            fill: $color;
        }
    }
}

.app-alert--has-close {
    padding-right: 4rem;
}