.app-select {
    position: relative;
    display: inline-block;
}

.app-select__selected {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D8DDE6;
    padding: .7rem;
    cursor: pointer;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}

.app-select__selected-value {
    margin-right: 6px;
}

.app-select__arrow {
    margin-left: auto;
    user-select: none;

    svg {
        display: block;
        fill: #c4c4c4;
    }
}

.app-select__options {
    position: absolute;
    z-index: map-get($z-index, 'dropdown');
    top: 100%;
    left: 0;
    margin-top: -1px;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid $color-border;
    box-shadow: 0px 0px 5px 0px rgba(#000, .1);
}

.app-select__option {
    display: block;
    cursor: pointer;
    padding: .7rem 1rem;
    border-bottom: 1px solid transparent;
    white-space: nowrap;

    &:not(:last-child) {
        border-bottom-color: $color-border;
    }
}

.app-select__prepend {
    margin-right: 5px;
    user-select: none;
}

// Mode = 'tags'
.app-select--tags {
    .app-select__placeholder {
        // line-height: 20px;
    }
    
    .app-select__selected {
        display: block;
        white-space: normal;
    }
}

.app-select__field {
    margin-left: 4px;
    display: inline-block;
    
    &__input {
        width: 0.75em;
        max-width: 100%;
        border: 0;
    }
}
