.app-alert {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.5rem;

    &__icon {
        margin-right: 0.5rem;

        svg {
            display: block;
            font-size: 2rem;
        }
    }
}

// MODIFIERS
@each $name, $color in $colors {
    .app-alert--#{$name} {
        background-color: rgba($color, .1);

        .app-alert__icon svg {
            fill: $color;
        }
    }
}
