.app-table {
    table {
        width: 100%;
        border-spacing: 0;

        .btn-sort {
            vertical-align: middle;
            display: inline-block;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            
            height: 18px;
            width: 18px;
            position: absolute;
            right: 0;
            top: calc(50% - 9px);
            //position: absolute;
            //right: 1rem;
            //top: calc(50% - 9px); // Align middle by vertical for sort icon
            svg path {
                fill: #999;
            }
        }
        th {
            color: #999;
            text-align: left;
            font-weight: normal;
            padding: 1rem 1rem;
            position: relative;
            &:hover {
                .btn-sort {
                    opacity: 1;
                    visibility: visible;
                }
            }

            hr {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &:first-child {
                padding-left: 2rem;
                hr {
                    left: 2rem;
                }
            }

            &:last-child {
                padding-right: 2rem;
                hr {
                    right: 2rem;
                }
    
                .btn-sort {
                    right: calc(1rem + 3px);
                }
            }
        }

        tr {
            >td {
                padding: 1rem;

                .status,
                .status-2 {
                    display: inline-block;
                    min-width: 7.5rem;
                    background-color: $color-primary;
                    font-size: 11px;
                    color: #fff;
                    line-height: 2rem;
                    text-align: center
                }

                .status-2 {
                    background-color: #FFCA56;
                }

                &:first-child {
                    padding-left: 2rem;
                }

                &:last-child {
                    padding-right: 2rem;
                }
            }

            &:nth-child(2n) {
                >td {
                    background-color: #f8f8f8;
                }
            }

            &:hover {
                >td {
                    background-color: rgba($color: $color-primary, $alpha: 0.05);
                }
            }
        }
    }

    .pagination {
        margin: 0 2rem;
    }
}

.app-table .bottom {
    display: table;
    width: 100%;
    margin-top: 1rem;
    >span {
      display: table-cell;
      text-align: center;
      color: #333;
    }
  }