$vs-colors: (
    //lightest: rgba(60, 60, 60, 0.26),
    lightest: #eeeeee,
    light: rgba(60, 60, 60, 0.5),
    dark: #333,
    darkest: rgba(0, 0, 0, .15),
) !default;

//  Global Component Variables
//$vs-component-line-height: 1.4 !default;
//$vs-component-placeholder-color: inherit !default;

//  Active State
$vs-state-active-bg: #F9F9F9 !default;
$vs-state-active-color: $color-primary-3 !default; //item selection when hover

//  Disabled State
//$vs-state-disabled-bg: rgb(248, 248, 248) !default;
//$vs-state-disabled-color: map_get($vs-colors, 'light') !default;
//$vs-state-disabled-controls-color: map_get($vs-colors, 'light') !default;
//$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 1px !default;
//$vs-border-style: solid !default;
$vs-border-radius: 2px !default;
//$vs-border-color: map_get($vs-colors, 'lightest') !default;
$vs-border-color: #e0e0e0 !default;

//  Component Controls: Clear, Open Indicator
//$vs-controls-color: map_get($vs-colors, 'light') !default;
//$vs-controls-size: 1 !default;
//$vs-controls-deselect-text-shadow: 0 1px 0 #fff;

//  Selected
$vs-selected-bg: #fff !default;
//$vs-selected-border-color: $vs-border-color !default;
//$vs-selected-border-style: $vs-border-style !default;
//$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
//$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: auto !default;
//$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !default;
//$vs-dropdown-bg: #fff !default;

@import "~vue-select/src/scss/vue-select.scss";

.app-vue-select {
    .vs__dropdown-toggle {
        box-shadow: $shadow-1;
        background: #fff;
    }

    .vs__selected-options {
        padding: 0 1px 0 3px;
    }

    .vs__actions {
        padding: 4px 15px 0 3px;
    }

    //min-width: 10rem;
    
    .vs__actions {
        svg path {
            fill: $color-primary;
            fill-opacity: 1;
        }
    }
}

.vs__selected + .vs__search {
    position: absolute;
}
.app-vue-select .vs__dropdown-toggle {
    height: 3.2rem;
}
.app-vue-select .vs__selected-options {
    overflow: hidden;
}

//Custom scrollbar
.vs--open .vs__dropdown-toggle {
    border-bottom-color: $vs-border-color;
}

.vs__dropdown-menu {
    li.vs__dropdown-option {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    &::-webkit-scrollbar {
        height: 5px;
        width: 2px;
    }
    
    &::-webkit-scrollbar-track { // bg color of scrollbar
        -webkit-box-shadow: inset 0 0 6px $color-scrollbar-track;
    }
    
    &::-webkit-scrollbar-thumb { // track point
        background-color: $color-scrollbar-thumb;
        border-radius: 2px;
        //outline: 1px solid #708090;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: $vs-dropdown-bg;
    }
    &::-webkit-scrollbar-thumb:horizontal{
    }
}