.app-table {
    table {
        width: 100%;
        border-spacing: 0;

        .btn-sort {
            vertical-align: middle;
            display: inline-block;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            height: 18px;
            width: 18px;
            position: absolute;
            right: 0;
            top: calc(50% - 9px);
            svg path {
                fill: #222;
            }
        }
        td, th {
            border-bottom: 1px solid $color-border;
        }
        th {
            border-top: 1px solid $color-border;
        }
        th {
            color: #222;
            text-align: left;
            font-weight: bold;
            padding: 1rem 1rem;
            position: relative;
            &:hover {
                .btn-sort {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:first-child {
                padding-left: 2rem;
                hr {
                    left: 2rem;
                }
            }

            &:last-child {
                padding-right: 2rem;
                hr {
                    right: 2rem;
                }
    
                .btn-sort {
                    right: calc(1rem + 3px);
                }
            }
        }

        tr {
            >td {
                padding: 1.5rem 1rem;

                .status,
                .status-2 {
                    display: inline-block;
                    min-width: 7.5rem;
                    background-color: $color-primary;
                    font-size: 11px;
                    color: #fff;
                    line-height: 2rem;
                    text-align: center
                }

                .status-2 {
                    background-color: #FFCA56;
                }

                &:first-child {
                    padding-left: 2rem;
                }

                &:last-child {
                    padding-right: 2rem;
                }
            }

            &:nth-child(2n) {
                >td {
                    //background-color: #f8f8f8;
                }
            }

            &:hover {
                >td {
                    background-color: #F9F9F9;
                }
            }
        }
        .app-checkbox__checkmark {
            border: 1px solid #333;
        }
        tr {
            position: relative;
            transform: scale(1,1);
            &:hover .actions.show {
                opacity: 1;
                visibility: visible;
            }
            .actions {
                position:fixed;
                left: 0;
                right: 0;
                top: 1px;
                bottom: 1px;
                opacity: 0;
                visibility: hidden;
                transition: all 300ms;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                padding: 1rem 3rem;
                background: rgba(255, 255, 255, 0.9);
                button, a {
                    display: inline-flex;
                    align-items: center;
                    padding: 1rem;
                    line-height: 1;
                    +button {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }

    .pagination {
        margin: 3rem 0 2rem;
    }
    
    .status-item {
        border-radius: 2px;
        color: #fff;
        font-weight: normal;
        padding: .5rem 1rem;
        letter-spacing: -0.01em;
        text-align: center;
    }
    
    .status-item--success {
        background-color: $color-primary;
    }
    .status-item--pending {
        background-color: $color-warning;
    }
    .status-item--fail {
        background-color: $color-error;
    }
}

.none-decoration {
    text-decoration: none;
}