.mx-input {
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #999;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: .5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mx-datepicker {
    //width: 15.5rem;
    width: 100%;
    max-width: 100%;
}
.app-date-picker {
    display: inline-block;
    + .app-date-picker {
        margin-left: 2.6rem;
    }
    label {
        margin-right: 0.3rem;
    }
    &.size-sm .mx-input {
        height: 3.2rem;
    }
    &.size-xs .mx-input {
        height: 2.5rem;
        font-size: 1.2rem;
    }
    &.size-lg .mx-input {
        height: 4.8rem;
    }
    &.square {
        .mx-input {
            border-radius: 0;
        }
    }
}
$primary-color: #37A000;
@import '~vue2-datepicker/scss/index.scss';
    .datepicker-range-v2.mx-datepicker-main{
        background: none !important;
        box-shadow:none !important;
        border: none !important;
        display: flex;
        font-family: "Montserrat", sans-serif !important;
        .mx-datepicker-sidebar {
            background: #fff;
            width: 194px;
        }
        .mx-datepicker-sidebar + .mx-datepicker-content{
            border-left: none !important;
            background: #fff;
            box-shadow: 0px 8px 32px rgba(108, 115, 141, 0.12);
            border-radius: 4px;
            margin-left: 10px;
        }
        .mx-calendar-content{
            .cell{
                &.active{
                    border-radius: 10px;
                }
            }
        }
        .mx-btn-shortcut{
            border-radius: 2px;
            width: 100%;
            background: #F9F9F9;
            margin-bottom: 6px;
            padding: 6px 11px;
            &.active {
                background: $primary-color;
            }
        }
        .mx-calendar:last-child{
            border-left: none !important;
            margin-left: 20px;
        }
    }

