.app-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, modal);
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.app-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: map-get($z-index, modal);
    background-color: rgba(0, 0, 0, 0.8);
}

.app-modal {
    position: relative;
    padding-bottom: 24px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: auto;
    max-width: calc(100% - 15px);
}

.app-modal-content {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.app-modal-centered {
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    .app-modal {
        top: 0;
        vertical-align: middle;
        display: inline-block;
        text-align: left;
    }
}