.mx-input {
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #999;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: .5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mx-datepicker {
    width: 15.5rem;
}
.app-date-picker {
    display: inline-block;
    + .app-date-picker {
        margin-left: 2.6rem;
    }
    label {
        margin-right: 0.3rem;
    }
    &.size-sm .mx-input {
        height: 3.2rem;
    }
    &.size-xs .mx-input {
        height: 2.5rem;
        font-size: 1.2rem;
    }
    &.size-lg .mx-input {
        height: 4.8rem;
    }
    &.square {
        .mx-input {
            border-radius: 0;
        }
    }
}