.app-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, modal);
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.app-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: map-get($z-index, modal);
    background-color: rgba(0, 0, 0, 0.8);
}

.app-modal {
    position: relative;
    padding-bottom: 24px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: auto;
    max-width: calc(100% - 15px);
}

.app-modal-content {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.app-modal-centered {
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    .app-modal {
        top: 0;
        vertical-align: middle;
        display: inline-block;
        text-align: left;
    }
}

// AUTH modal
.auth-modal .app-modal-content{
    text-align: center;
    padding: 15px 40px 40px;
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .form-control{
        max-width: calc(100% - 85px);
        margin-left: 15px;
    }
    .btn {
        margin-top: 23px;
    }
    a.color-primary {
        font-weight: bold;
        color: 16px;
        text-decoration: underline;
        margin-top: 10px;
        display: block;
        cursor: pointer;
        &.disabled {
            cursor: default;
            pointer-events: none;
        }
        >span {
            font-weight: normal;
        }
    }
}
.phone-select {
    .app-select__selected{
        border: 0;
        outline: none;
        font-size: 20px;
        .app-select__arrow svg {
            fill: #666;
            width: 7px;
        }
    }
}
.btn-close {
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    width: 26px;
    height: 26px;
    display: block;
    line-height: 26px;
}
.danger {
    color: #F91C1C;
    text-align: left;
    float: left;
    padding: 5px 0 10px;
}
.form-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.form-control {
    height: 40px;
    border: 0;
    font-size: 14px;
    line-height: normal;
    padding: 2px;
}
.ml-0 { margin-left: 0 !important}
.mt-0 { margin-top: 0 !important}
.mb-0 { margin-bottom: 0 !important}
.mr-0 { margin-right: 0 !important}
.color-primary {
    color: #2CAE86;
}
input::-webkit-input-placeholder {
    font-size: 14px;
    transform:translate3d(0,1px,0)
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}