.page-social__aside-tabs {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1.4rem;

    a {
        width: 50%;
        flex: 50%;
        text-align: center;
        border: 1px solid $color-primary;
        text-decoration: none;
        padding: .5rem 1rem;
        font-weight: 500;
        line-height: 1.7;

        &:nth-child(1) {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:nth-child(2) {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        &.active {
            background-color: $color-primary;
            color: #fff;
        }
    }
}

.page-social__aside-wrapper {
    max-height: calc(100vh - 101px);
    overflow-y: auto;
}


.page-social__col-menu {
    max-width: #{(239/1164) * 100 * 1%};
    flex: 0 0 #{(239/1164) * 100 * 1%};
}

.page-social__aside-friends-list {
    .aside-box__content {
        max-height: 35rem;
        overflow: auto;
    }
}

// inner component
.aside-birthday {
    display: flex;
    
    &__img {
        flex: 0 0 4rem;
        margin-right: 2rem;
    }
}